<!-- Projects Section -->
<section class="projects-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <span class="icon flaticon-network"></span>
            <h2>Our <span>Projects</span></h2>
            <div class="text">Delivering cutting-edge telecom and civil infrastructure solutions</div>
        </div>
        
        <!-- Portfolio Tabs -->
        <div class="project-tab">
            <div class="tab-btns-box">
                <!--Tabs Header-->
                <div class="tabs-header">
                    <ul class="product-tab-btns clearfix">
                        <% Object.keys(categories).forEach((category, index) => { %>
                            <li class="p-tab-btn <%= index === 0 ? 'active-btn' : '' %>" data-tab="#p-tab-<%= index %>">
                                <%= category %>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            
            <!--Tabs Content-->  
            <div class="p-tabs-content">
                <% Object.entries(categories).forEach(([category, projects], index) => { %>
                    <div class="p-tab <%= index === 0 ? 'active-tab' : '' %>" id="p-tab-<%= index %>">
                        <div class="project-carousel owl-theme owl-carousel">
                            <% projects.forEach(project => { %>
                                <!-- Gallery Block -->
                                <div class="gallery-block">
                                    <div class="inner-box">
                                        <div class="image">
                                            <a href="<%= project.link %>"><img src="<%= project.image %>" alt="<%= project.title %>" /></a>
                                            <div class="overlay-box">
                                                <h5><a href="<%= project.link %>"><%= project.title %></a></h5>
                                                <div class="location"><%= project.location %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</section>
<!-- End Projects Section -->
